@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
} 
body{
    background-color:black;
}
.navbar{
    height: 15vh;
    width: 100%;
    display: flex; 
    gap: 100vh;
}
.logo img{
    height: 15vh;
    width: 15vh;
}
ul{
    display: flex;
    gap: 22vh;
    margin-top: 3vh;
}
a{
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
a:hover{
    background-color: rgb(209, 171, 15);
}
.contact{
position: relative;
min-height: 100vh;
padding: 50px 100px; 
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
 h1{
    font-size: 40px;
    font-weight: 500;
    color: rgb(249, 227, 227);
}
p{
    font-size: 25px;
    font-weight: 300;
    color: #9a8b8b;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
    
}
.contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:black;
    flex-direction: column;
    font-weight: 500;
}
h3{
    font-size: 30px;
    font-weight: 500;
    color: #202e30;
}
.contactForm{
    width: 40%;
    padding: 40px;
    border-radius: 50px;
   background: rgb(28, 27, 27);
}

h2{
    font-size: 40px;
    color: #153a48;
    font-weight: 600;
}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
   
}
input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    color: #fff;
    border-bottom: 4px solid #333;
    background: transparent;
    outline: none;
}
textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    border: none;
    border: 5px solid #333;
    resize: none;
    background: none;
    color: white;
}
span{
    position: relative;
    left: 0;
    padding: 5px 0;
    font-size: 24px;
    margin: 10px 0;
    color: rgb(218, 183, 183);
}
#send{
    background-color: #fff;
    color: #272d2f;
    font-size: 20px;
}
@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
}
